.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    width: 10%;
    height: 10%;
  }
}

.App-header {
  background-color: #282c34;
  padding: 16px;
  min-height: 10vh;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-button >button{
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-button-group > .btn-small {
  margin: 8px;
}
.error {
  color: red;
}
